<div class='footer row'>
    <div class='content col-sm-12'>
        <div class='row'>
            <div class='col-sm-12'>
                <img class='image' src='../../assets/images/logo_netconomy_neu_weisz.png' >
                <hr class='horizontal_line'>
            </div>
        </div>
        <div class='row'>
            <div class='col-sm-4 element'>
                <ul style="list-style-type:none;">
                    <li class='unordered-list'>Home</li>
                    <li class='unordered-list'>About</li>
                    <li class='unordered-list'>Portfolio</li>
                  </ul>                    
            </div>
            <div class='col-sm-4 element'>
                <ul style="list-style-type:none;">
                    <li class='unordered-list'>Industries</li>
                    <li class='unordered-list'>References</li>
                    <li class='unordered-list'>Partnership</li>
                  </ul>          
            </div>
            <div class='col-sm-4 element'>
                <ul style="list-style-type:none;">
                    <li class='unordered-list'>Careers</li>
                    <li class='unordered-list'>Locations</li>
                    <li class='unordered-list'>imprint</li>
                  </ul>          
            </div>
        </div>
        <div class='row icons_footer'>
            <div class='col-sm-3 element'>
                &copy;2021 NETCONOMY
            </div>
            <div class='col-sm-9 iconsPadding' >
                <div class='iconsMargin'>
                    <span>
                        <i class="fab fa-facebook-f icons" ></i>
                        <i class="fab fa-linkedin-in icons"></i>
                        <i class="fab fa-twitter icons"></i>
                        <i class="fab fa-xing icons"></i>
                       </span>
                </div>
            </div>
        </div>
    </div>
</div>
